language: android

android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    #
    - tools
    - platform-tools
    # The BuildTools version used by your project
    - build-tools-26.0.2

    # The SDK version used to compile your project
    - android-26
    - extra-google-m2repository
    - extra-android-m2repository

jdk:
- oraclejdk8

before_install:
 - chmod +x gradlew